sudo: false
language: python
services:
  - postgresql
  - redis-server
python:
  - "2.7"
cache:
  directories:
    - node_modules
    - .pip_download_cache
    - "$HOME/virtualenv/python2.7.9"
env:
  global:
    - PIP_DOWNLOAD_CACHE=".pip_download_cache"
    - TRAVIS_NODE_VERSION=4.7.0
install:
  - nvm install $TRAVIS_NODE_VERSION
  - time make develop
before_script:
  - psql -c 'create database test_freight;' -U postgres
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - bin/lint
  - bin/test
